{% extends "base.jinja2" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Price tracking service</h1>
        <p class="lead">To use this service, register as a user and prepare an item link for tracking.</p>
        <p>Click register to join.</p>
        <hr class="my-4">
        <button type="button" class="btn btn-outline-dark" href="{{ url_for('users.register_user')}}">Register</button>
    </div>
</div>
{% endblock %}