{% extend "base.jinja2" %}
{% block content %}
    <form>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        </div>
    </form>

{% endblock %}